openapi: 3.1.0
info:
  title: secrt.ca API
  version: "1.0"
  description: |
    One-time secret sharing API. The server stores **ciphertext envelopes only**;
    decryption keys must never be sent to or stored on the server.

    ## Authentication

    Authenticated secret endpoints accept v2 wire API keys via either header:

    - `X-API-Key: ak2_<prefix>.<auth_b64>`
    - `Authorization: Bearer ak2_<prefix>.<auth_b64>`

    API-key registration requires passkey session bearer tokens:

    - `Authorization: Bearer uss_<sid>.<secret>`

    v1 passkey auth currently uses challenge-id bearer semantics in `/finish`
    endpoints (valid, unexpired `challenge_id` + credential linkage). WebAuthn
    cryptographic assertion verification is out of scope for v1.

    ## Policy Tiers

    | Limit                  | Public (anonymous)    | Authenticated (API key) |
    |------------------------|-----------------------|-------------------------|
    | Max envelope size      | 256 KB (configurable) | 1 MB (configurable)     |
    | Max active secrets     | 10 (configurable)     | 1000 (configurable)     |
    | Max active total bytes | 2 MB (configurable)   | 20 MB (configurable)    |

  contact:
    name: secrt.ca
    url: https://secrt.ca
  license:
    name: MIT

servers:
  - url: https://secrt.ca
    description: Production
  - url: http://localhost:8080
    description: Local development

paths:
  /healthz:
    get:
      operationId: healthCheck
      summary: Health check
      tags: [health]
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /api/v1/info:
    get:
      operationId: getServerInfo
      summary: Server info and limits
      description: |
        Returns server defaults and per-tier limits. Authentication is optional;
        if a valid API key is provided, `authenticated` is `true`. Invalid keys
        are not an error — `authenticated` will be `false`.

        Both tiers are always returned regardless of authentication status.
        Rate-limited via the claim limiter (1 rps, burst 10).
      tags: [info]
      security:
        - {}
        - apiKey: []
        - bearerAuth: []
      responses:
        "200":
          description: Server info and limits
          headers:
            Cache-Control:
              schema:
                type: string
                example: "public, max-age=300"
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InfoResponse"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/public/secrets:
    post:
      operationId: createPublicSecret
      summary: Create a secret (anonymous)
      description: |
        Store a client-encrypted envelope for one-time retrieval.
        No API key required. Subject to public rate limits and quota tier.

        Ownership is tracked server-side by client IP for quota enforcement.
      tags: [secrets]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSecretRequest"
            example:
              envelope:
                ct: "base64-encoded-ciphertext"
                nonce: "base64-encoded-nonce"
                kdf:
                  alg: "PBKDF2"
                  iterations: 600000
              claim_hash: "dGhpcyBpcyBhIGJhc2U2NHVybCBoYXNo"
              ttl_seconds: 86400
      responses:
        "201":
          description: Secret created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSecretResponse"
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
        "400":
          $ref: "#/components/responses/BadRequest"
        "413":
          $ref: "#/components/responses/StorageQuotaExceeded"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/secrets:
    post:
      operationId: createAuthedSecret
      summary: Create a secret (authenticated)
      description: |
        Store a client-encrypted envelope for one-time retrieval.
        Requires API key. Subject to authenticated rate limits and quota tier.

        Ownership is bound to the authenticated API key prefix.
      tags: [secrets]
      security:
        - apiKey: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSecretRequest"
      responses:
        "201":
          description: Secret created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSecretResponse"
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "413":
          $ref: "#/components/responses/StorageQuotaExceeded"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/secrets/{id}/claim:
    post:
      operationId: claimSecret
      summary: Claim a secret (one-time retrieval)
      description: |
        Atomically returns the envelope and deletes the secret.
        The claim token is hashed server-side and compared to the stored claim hash.

        No API key required; possession of the claim token is sufficient.

        Returns 404 for expired, already-claimed, unknown, or wrong-token secrets
        to avoid leaking secret existence.
      tags: [secrets]
      parameters:
        - $ref: "#/components/parameters/secretId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClaimSecretRequest"
            example:
              claim: "dGhpcyBpcyBhIGNsYWltIHRva2Vu"
      responses:
        "200":
          description: Secret claimed and deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClaimSecretResponse"
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/secrets/{id}/burn:
    post:
      operationId: burnSecret
      summary: Burn a secret (delete without claiming)
      description: |
        Deletes a secret without returning its envelope. Requires API key.

        The API key must own the secret (`owner_key == "apikey:<prefix>"`).
        Returns 404 for unknown secrets or secrets not owned by the caller.
      tags: [secrets]
      security:
        - apiKey: []
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/secretId"
      responses:
        "200":
          description: Secret burned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BurnResponse"
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/auth/passkeys/register/start:
    post:
      operationId: passkeyRegisterStart
      summary: Start passkey registration
      description: |
        Issues a random challenge_id and opaque challenge value.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasskeyRegisterStartRequest"
      responses:
        "200":
          description: Registration challenge issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PasskeyStartResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/auth/passkeys/register/finish:
    post:
      operationId: passkeyRegisterFinish
      summary: Complete passkey registration and create session
      description: |
        v1 consumes a valid, unexpired challenge_id and does not perform
        cryptographic WebAuthn assertion verification.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasskeyRegisterFinishRequest"
      responses:
        "200":
          description: Session created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthFinishResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/auth/passkeys/login/start:
    post:
      operationId: passkeyLoginStart
      summary: Start passkey login
      description: |
        Issues a random challenge_id and opaque challenge value.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasskeyLoginStartRequest"
      responses:
        "200":
          description: Login challenge issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PasskeyStartResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/auth/passkeys/login/finish:
    post:
      operationId: passkeyLoginFinish
      summary: Complete passkey login and create session
      description: |
        v1 consumes a valid, unexpired challenge_id and does not perform
        cryptographic WebAuthn assertion verification.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasskeyLoginFinishRequest"
      responses:
        "200":
          description: Session created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthFinishResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/auth/session:
    get:
      operationId: authSession
      summary: Get current passkey session status
      tags: [auth]
      security:
        - {}
        - sessionBearer: []
      responses:
        "200":
          description: Session status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionResponse"

  /api/v1/auth/logout:
    post:
      operationId: authLogout
      summary: Revoke current passkey session
      tags: [auth]
      security:
        - sessionBearer: []
      responses:
        "200":
          description: Logged out
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BurnResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/apikeys/register:
    post:
      operationId: registerApiKey
      summary: Register a v2 API key auth token
      description: |
        Requires passkey session auth.
        Enforces account/IP registration quotas.
      tags: [apikeys]
      security:
        - sessionBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterApiKeyRequest"
      responses:
        "201":
          description: API key registration accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterApiKeyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: "Wire API key format: ak2_<prefix>.<auth_b64>"
    bearerAuth:
      type: http
      scheme: bearer
      description: "Wire API key bearer format: ak2_<prefix>.<auth_b64>"
    sessionBearer:
      type: http
      scheme: bearer
      description: "Passkey session bearer format: uss_<sid>.<secret>"

  parameters:
    secretId:
      name: id
      in: path
      required: true
      description: URL-safe base64-encoded secret identifier (server-generated)
      schema:
        type: string

  headers:
    X-Request-Id:
      description: Unique request identifier for tracing (auto-generated if not provided by client)
      schema:
        type: string

  schemas:
    CreateSecretRequest:
      type: object
      required:
        - envelope
        - claim_hash
      additionalProperties: false
      properties:
        envelope:
          type: object
          description: |
            Opaque JSON object produced by the client containing ciphertext,
            nonce, and KDF/HKDF parameters. Advisory metadata is encrypted in
            the sealed payload frame and is not present as plaintext fields in
            envelope JSON. The server stores and returns this unchanged.

            Max size depends on policy tier (256 KB public, 1 MB authenticated by default).
        claim_hash:
          type: string
          description: |
            Server-stored verifier for one-time claim authorization.
            Format: `base64url(sha256(claim_token_bytes))`.
            The raw claim token bytes must be at least 16 bytes.
        ttl_seconds:
          type: integer
          format: int64
          minimum: 1
          maximum: 31536000
          description: |
            Secret lifetime in seconds. Default: 86400 (24 hours).
            Maximum: 31536000 (1 year). Omit to use the default.

    CreateSecretResponse:
      type: object
      properties:
        id:
          type: string
          description: URL-safe base64-encoded secret identifier
        share_url:
          type: string
          format: uri
          description: Full URL for sharing (e.g. `https://secrt.ca/s/<id>`)
        expires_at:
          type: string
          format: date-time
          description: Expiration timestamp (RFC 3339, UTC)

    ClaimSecretRequest:
      type: object
      required:
        - claim
      additionalProperties: false
      properties:
        claim:
          type: string
          description: |
            Base64url-encoded claim token bytes. The server hashes this
            (`sha256`) and compares against the stored `claim_hash`.

    ClaimSecretResponse:
      type: object
      properties:
        envelope:
          type: object
          description: The original opaque envelope stored at creation time
        expires_at:
          type: string
          format: date-time
          description: Original expiration timestamp (RFC 3339, UTC)

    BurnResponse:
      type: object
      properties:
        ok:
          type: boolean
          description: Always `true` on success

    PasskeyRegisterStartRequest:
      type: object
      required: [display_name]
      additionalProperties: false
      properties:
        display_name:
          type: string
        handle:
          type: string

    PasskeyRegisterFinishRequest:
      type: object
      required: [challenge_id, credential_id, public_key]
      additionalProperties: false
      properties:
        challenge_id:
          type: string
          description: Opaque challenge identifier issued by register/start
        credential_id:
          type: string
        public_key:
          type: string

    PasskeyLoginStartRequest:
      type: object
      required: [credential_id]
      additionalProperties: false
      properties:
        credential_id:
          type: string

    PasskeyLoginFinishRequest:
      type: object
      required: [challenge_id, credential_id]
      additionalProperties: false
      properties:
        challenge_id:
          type: string
          description: Opaque challenge identifier issued by login/start
        credential_id:
          type: string

    PasskeyStartResponse:
      type: object
      properties:
        challenge_id:
          type: string
          description: Opaque bearer challenge identifier consumed by /finish
        challenge:
          type: string
          description: Opaque challenge payload for client flow coordination
        expires_at:
          type: string
          format: date-time

    AuthFinishResponse:
      type: object
      properties:
        session_token:
          type: string
        user_id:
          type: integer
          format: int64
        handle:
          type: string
        expires_at:
          type: string
          format: date-time

    SessionResponse:
      type: object
      properties:
        authenticated:
          type: boolean
        user_id:
          type: integer
          format: int64
          nullable: true
        handle:
          type: string
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true

    RegisterApiKeyRequest:
      type: object
      required: [auth_token]
      additionalProperties: false
      properties:
        auth_token:
          type: string
          description: base64url-encoded 32-byte auth token
        scopes:
          type: string

    RegisterApiKeyResponse:
      type: object
      properties:
        prefix:
          type: string
        created_at:
          type: string
          format: date-time

    HealthResponse:
      type: object
      properties:
        ok:
          type: boolean
        time:
          type: string
          format: date-time
          description: Server time (RFC 3339 with nanoseconds, UTC)

    InfoResponse:
      type: object
      properties:
        authenticated:
          type: boolean
          description: Whether a valid API key was provided
        ttl:
          type: object
          properties:
            default_seconds:
              type: integer
              format: int64
              description: Default TTL when ttl_seconds is omitted (86400 = 24h)
            max_seconds:
              type: integer
              format: int64
              description: Maximum allowed TTL (31536000 = 1 year)
        limits:
          type: object
          properties:
            public:
              $ref: "#/components/schemas/InfoTier"
            authed:
              $ref: "#/components/schemas/InfoTier"
        claim_rate:
          $ref: "#/components/schemas/InfoRate"

    InfoTier:
      type: object
      properties:
        max_envelope_bytes:
          type: integer
          format: int64
        max_secrets:
          type: integer
          format: int64
        max_total_bytes:
          type: integer
          format: int64
        rate:
          $ref: "#/components/schemas/InfoRate"

    InfoRate:
      type: object
      properties:
        requests_per_second:
          type: number
          format: double
        burst:
          type: integer

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Human-readable error message

  responses:
    BadRequest:
      description: Invalid request (malformed JSON, missing fields, invalid envelope, etc.)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            invalidJson:
              value:
                error: "invalid json"
            invalidEnvelope:
              value:
                error: "invalid envelope"
            envelopeTooLarge:
              value:
                error: "envelope exceeds maximum size (256 KB)"
            invalidClaimHash:
              value:
                error: "invalid claim_hash"
            invalidTTL:
              value:
                error: "invalid ttl_seconds"
      headers:
        X-Request-Id:
          $ref: "#/components/headers/X-Request-Id"

    Unauthorized:
      description: Missing or invalid API key or session token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "unauthorized"
      headers:
        X-Request-Id:
          $ref: "#/components/headers/X-Request-Id"

    NotFound:
      description: Secret not found, expired, already claimed, wrong claim token, or not owned by caller
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "not found"
      headers:
        X-Request-Id:
          $ref: "#/components/headers/X-Request-Id"

    RateLimited:
      description: Request rate limited or active-secret count quota exceeded
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            rateLimited:
              value:
                error: "rate limited"
            secretLimitExceeded:
              value:
                error: "secret limit exceeded (max 10 active secrets)"
      headers:
        X-Request-Id:
          $ref: "#/components/headers/X-Request-Id"

    StorageQuotaExceeded:
      description: Total storage quota exceeded for the owner
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "storage quota exceeded (limit 2 MB)"
      headers:
        X-Request-Id:
          $ref: "#/components/headers/X-Request-Id"

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            error: "internal server error"
      headers:
        X-Request-Id:
          $ref: "#/components/headers/X-Request-Id"

tags:
  - name: health
    description: Health check endpoint
  - name: info
    description: Server info and operational limits
  - name: secrets
    description: One-time secret creation, claim, and burn operations
  - name: auth
    description: Passkey registration/login and browser session management
  - name: apikeys
    description: API key registration endpoints
